name: Build & Push Docker Image to Docker Hub
on:
  Push:
    branches:
      - main
      - master
env:
  REGISTRY: docker.io
  ORG: ${{ secrets.DOCKERHUB_USERNAME }}
  BACKEND_IMAGE: crm-backend
  FRONTEND_IMAGE: crm-frontend 
jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with: 
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # -------------------------------
      # Build & Push Backend Image
      # -------------------------------

      - name: Build & push backend image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.BACKEND_IMAGE }}:latest
            ${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.BACKEND_IMAGE }}:${{ github.sha }}

      # -------------------------------
      # Build & Push Frontend Image
      # -------------------------------
      - name: Build & push frontend image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.FRONTEND_IMAGE }}:latest
            ${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.FRONTEND_IMAGE }}:${{ github.sha }}